* {
    box-sizing: border-box;
}

@font-face { font-family: Storybook; src: url('../fonts/Storyboo.TTF'); }

body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: Storybook;
    color: #000;
    /*background: url("../images/4335932-dancing-bears-grateful-dead-wallpaper.jpg");*/
    background-color: #000;
}

.hero-container {
}

.container {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background: url("../images/grateful-dead-hero.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.main-container {
    background: url("../images/4335932-dancing-bears-grateful-dead-wallpaper.jpg");
}

.game-field {
    height: 515px;
}


.game-field div {
    height: 100%;
    font-size: 24px;
}


#youtube-iframe {
    margin-left: auto;
    margin-right: auto;

    /*width: 320px;*/
    /*height: 180px;*/
    width: 560px;
    height: 315px;
    display: none;
}

#youtube-iframe-placeholder {
    margin-left: auto;
    margin-right: auto;

    /*width: 320px;*/
    /*height: 180px;*/
    width: 560px;
    height: 315px;
}

#display-area {
    padding-top: 100px;
    color: #59b98f;
    background-size: auto;
    background-color: #b41f3c;
    background-size: cover;
    height: 100%;
 }

#game-area {
    padding-top: 100px;
    font-family: Storybook, Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #59b98f;
    opacity: 80;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    line-height: 40px;
    color: #b41f3c;
}
.game-area-prompt-text {
    font-size: 32px;
    line-size: 50px;
    color: #b41f3c;
}

.game-area-output-text {
    color: #000;
    font-size: 32px;
    line-size: 50px;
}

#instructions,
#guess
{
    padding-top: 100px;
}

#guess {
    display: none;
}

